<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
	<title>LedPy</title>
</head>
<body>
	{% include 'navbar.html' %}
	<div class="page">
		<h1>Developed by Mitesh Vaid</h1>
		<h3>To help My Father in his Business Making Data Entry Work more Easier & Accessible.</h3>
		<h3>Made in Django Framework Python3. Still in BETA</h3>
		References:<br>
			&NotSquareSubsetEqual; <b>StackOverFlow</b> (For figuring out Bug Fixes in the Back-End).<br>
			&NotSquareSubsetEqual; <b>W3Schools</b> (For Basic HTML & CSS Stuff).<br>
			&NotSquareSubsetEqual; <b>Material.io</b> (Finding Suitable Color Pallete).<br>
			&NotSquareSubsetEqual; <b>CodePen.io</b> (CSS Designs Inspirations).<br><br>
		No CDNs (BootStrap or Tailwind CSS) used. Just from Scratch.
		</p>
	</div>
	</body>
</html>