<nav>
    <div class="nav-wrapper blue">
      <a href="/" class="brand-logo left" style="left: 60px">CredPy</a>
      <a href="{{callback}}" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">arrow_back</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/reports">Reports</a></li>
        <li><a href="/notes/index">Cash Counter</a></li>
        <li><a href="/addQuick">Quick Add</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</script>