<!DOCTYPE html>
<html>
{%include 'base.html'%}
<body>
	{%include 'nav-back.html'%}
	<div class="container">
		<div class="row" style="margin-bottom: 0;">
      		<div class="card horizontal">
      		<div class="card-stacked">
        		<div class="card-content" style="padding: 0px 24px 0px 24px;">
          			<h3>{{data.FullName}}</h3>
          			<span class="card-title left"></span>
        		</div>
          		<ul class="collapsible" style="box-shadow: none; border-right: none; border-left: none;">         			
    			<li>
      				<div class="collapsible-header"><i class="material-icons">place</i>Address</div>
      				<div class="collapsible-body"><span>{{data.Address|default_if_none:""}}</span></div>
    			</li>
    			<li>
      				<div class="collapsible-header"><i class="material-icons">email</i>E-Mail</div>
      				<div class="collapsible-body"><span>{{data.Email|default_if_none:""}}</span></div>
    			</li>
    			<li>
      				<div class="collapsible-header"><i class="material-icons">phone</i>Contact No.</div>
      				<div class="collapsible-body"><span>{{data.phno|default_if_none:" "}}</span></div>
    			</li>
			  </ul>
      	</div>
    	</div>
	</div>
</body>
</html>